.categoryWrapper {
  width: 275px;
  height: auto;

  & .header {
    width: auto;
    height: 40px;
    margin-top: 10px;
    box-sizing: border-box;

    & .headerImg {
    }
  }

  & .categories {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    & .categoryItem {
      width: auto;
      height: auto;
      padding: 10px 0;
      box-sizing: border-box;

      & .category {
        width: 100%;
        height: auto;

        & .categoryImage {
          vertical-align: middle;
        }

        & .categoryText {
          display: inline-block;
          padding: 0;
          margin: 0;

          width: auto;
          height: auto;

          padding-left: 15px;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }

    & .categoryItem:last-child {
      padding-bottom: 20px;
    }
  }
}
