.tweetList {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0 0 0;
  //border-top: 10px solid rgb(56, 68, 77);
  border-top: 10px solid rgb(230, 236, 240);
  border-bottom: 1px solid rgb(230, 236, 240);

  & .tweet {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    //border-bottom: 1px solid rgb(56, 68, 77);
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 10px;

    & .profile {
      width: 50px;
      height: 50px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
      }
    }

    & .contents {
      width: calc(100% - 50px);
      box-sizing: border-box;
      padding-left: 12px;

      & .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
          //color: rgb(136, 153, 166);
          margin-right: 4px;
        }

        & span:first-child {
          //color: white;
        }

        & button {
          border: none;
          background-color: transparent;
          // outline:none;
        }

        & .optionWindow {
          position: absolute;
          z-index: 50;
          top: 0;
          right: 0;
          box-sizing: border-box;
          //background-color: rgb(21, 32, 43);
          background-color: white;
          box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
          border-radius: 5px;

          & .optionWindowList {
            list-style: none;
            margin: 0;
            padding: 0;

            & .optionWindowListItem {
              box-sizing: border-box;
              padding: 14px;

              & img {
                margin-right: 10px;
                width: 12px;
                height: 12px;
              }

              & span {
                font-size: 14px;
                white-space: nowrap;
                //color: white;
              }

              &:first-child {
                & span {
                  color: red;
                }
              }
            }
          }
        }
      }

      & .description {
        margin: 4px 0 12px 0;
        //color: white;
        font-size: 14px;
      }

      & .footer {
        color: rgb(101, 119, 134);

        & .footerImg {
          //background-color: pink;
          margin-right: 109px;
        }
      }

      & .arrowImage {
        display: inline-block;
        //background-color: #453128;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;

        & .arrowImg {
        }
      }
    }
  }

  & .tweet:last-child {
    border-bottom: 0;
  }
}
